*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
  background-color: var(--backgroundColor);
}

header.ant-layout-header {
  background-color: var(--backgroundColor);
}

footer.ant-layout-footer {
  background: white;
  border-top: 1px solid rgba(0,0,0,0.06);
  max-height: 80px;
  min-width: 100%;
}

h1 {
  font-size: 6.0rem !important;
  line-height: 6.4rem !important;
}
h2 {
  font-size: 5.0rem !important;
  line-height: 5.4rem !important;
}
h3 {
  font-size: 4.0rem !important;
  line-height: 4.4rem !important;
}
h4 {
  font-size: 3.0rem !important;
  line-height: 3.4rem !important;
}
h5 {
  font-size: 2.7rem !important;
  line-height: 3.1rem !important;
}

p,
span.ant-typography {
  font-size: 1.7rem !important;
  line-height: 2.0rem !important;
}

.ant-layout {
  background-color: transparent;
}

.ant-layout-content {
  min-height: calc(100vh - 144px);
}

.ant-layout.container {
  width: 980px;
  max-width: 980px;
  margin: 30px auto;
  padding: 15px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-light {
  color: white !important;
}

.text-grey {
  color: rgba(0,0,0,0.45) !important;
}

.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.text-disabled {
  color: var(--textColorSecondary) !important;
}

.billing-summary-descriptions .ant-descriptions-view {
  border-right: 0;
  border-bottom: 0;
}

.StripeElement {
  height: 40px;
  padding: 11px 14px;
  font-size: 1em;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

/* Home page */

.flex-section {
  display: flex;
  align-items: center;
  background-color: white;
  min-height: calc(100vh - 64px);
}

.flex-section.green {
  background-image: radial-gradient(38% 92%, #2AA636 35%, #127B1C 95%);
}

.flex-section.red {
  background-image: radial-gradient(38% 92%, #E62929 35%, #CF0101 95%);
}

.flex-section.black {
  background-image: radial-gradient(38% 92%, #2B2B2B 35%, #000000 95%);
}

@media (max-width: 980px) {
  .ant-layout.container {
    width: 100%;
  }

  .flex-section.green {
    background-image: radial-gradient(92% 38%, #2AA636 35%, #127B1C 95%);
  }

  .flex-section.red {
    background-image: radial-gradient(92% 38%, #E62929 35%, #CF0101 95%);
  }

  .flex-section.black {
    background-image: radial-gradient(92% 38%, #2B2B2B 35%, #000000 95%);
  }
}

@media (max-width: 575px) {
  header.ant-layout-header {
    padding: 0px 30px;
  }
  .ant-col-rtl {
    text-align: right !important;
  }
}
